<template>
  <div id="home">
      <menu-component :urls="urls"></menu-component>
      <div class="main">
          <form-component></form-component>
          <display-component :kanji="kanji"></display-component>
      </div> 
  </div>
</template>

<script>
import Menu from '@/components/menu.vue';
import Form from '@/components/form.vue';
import Display from '@/components/display.vue';

import { ref, computed, onMounted } from '@vue/composition-api';

export default {
  name: 'home',
  components: {
    "menu-component": Menu,
    "form-component": Form,
    "display-component": Display
  },
  setup(props, { root }){

    let kanji = computed(() => root.$store.getters.characters);
    let  urls = ref([
          { 
            path: { name: 'home'},
            label: '家',
            isActive: true,
            color: "amour"
          },
          {
            path: { name: 'katakana', params: { kana: 'ひらがな'}},
            label: '仮名',
            isActive: false
          }
      ])

    onMounted(() => {
      root.$store.dispatch("getKanji", "kanji");
    })

    return {
      kanji,
      urls
    }
  }
}
</script>

<style lang="scss">

#home {
  border: transparent;
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  .main {
    border: transparent;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 5px 12em;
    height: 500em;
  }
} 

// phone and iPad
@media screen and (max-width: 700px) {
  #home {
    
    border: transparent;
    display: flex;
    flex-direction: row;
    height: 400em;
  
  .main {
    border: transparent;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 5px 10px 5px;
  } 
  }
}

</style>