<template>
  <div id="home">
    <menu-component :urls="urls"/>
    <display-kana/>
</div>
</template>

<script>
import Menu from '@/components/menu.vue';
import DisplayKana from '@/components/display-kana.vue';

import { ref, onMounted } from '@vue/composition-api';

export default {
  name: "Kana",
  components: {
    "menu-component": Menu,
    "display-kana": DisplayKana,
  },
  setup(props,{ root }){

     let  urls = ref([
          { 
            path: { name: 'home'},
            label: '帰る',
            isActive: true,
            color: "bleu-de-france"
          }
      ])
    
    onMounted(()=> {
      root.$store.dispatch("getKana", "kana");
    })

    return {
      urls,
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
  
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding:0;
}

#home {
  border: transparent;
  display: flex;
  flex-direction: row;
  height: 500em;
  
  }
  
  #menu {
    border: transparent;
    background: #fafafa;
    width: 50px;
    margin: 0;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

}

// iPhone 

@media screen and (max-width: 700px) {
    #home {
      border: transparent;
      display: flex;
      flex-direction: row;
      height: 100vh;

  }

}
</style>