<template>
  <div id="home">
      <menu-component :urls="urls"></menu-component>
      <div class="main">
          <display-kanji :characters="characters"></display-kanji>
      </div> 
  </div>
</template>

<script>
import Menu from '@/components/menu.vue';
import DisplayKanji from '@/components/display-kanji.vue';
import { ref, onMounted } from '@vue/composition-api';

export default {
  name: 'home',
  components: {
    "menu-component": Menu,
    "display-kanji": DisplayKanji,
  },
  setup(props, { root }){

    let  urls = ref([
          { 
            path: { name: 'home'},
            label: '家',
            isActive: true,
            color: "amour"
          },
          {
            path: { name: 'katakana', params: { kana: 'ひらがな'}},
            label: '仮名',
            isActive: false
          }
      ])

      let characters = ref([])
  

      onMounted(()=> {
         characters.value = JSON.parse(root.$route.query.data);
      })

    return {
      urls,
      characters,
    }
  }
}
</script>

<style lang="scss">

#home {
  border: transparent;
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  .main {
    border: transparent;
    background:rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 5px 12em;
     
  }
} 

// phone and iPad
@media screen and (max-width: 700px) {
  #home {
    
    border: transparent;
    display: flex;
    flex-direction: row;
    height: 400em;
  
  .main {
    border: transparent;
    background:rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 1px 1px 2px;
  } 
  }
}

</style>