<template>
  <div class="login">
    <form-layout>
       <input-component placeholder="ユーザネーム"/>
       <input-component type="password" placeholder="パースワード"/>
       <button-component @clicked="login" color="imperial-primer" size="long">ロギン</button-component>
    </form-layout>
  </div>
</template>

<script>
import Form from '@/layout/form.vue';
import Input from '@/base/input.vue';
import Button from '@/base/button.vue';

import { credential } from '@/firebase/firebase';
import firebase from 'firebase/app';

export default {
  name: "login",
  components: {
    "form-layout": Form, 
    "input-component": Input,
    "button-component": Button
  },
  setup(){

    let login = function(){
      // login account using email and password
    }

    let loginWithGoogle = function(){
      var provider = new firebase.auth.GoogleAuthProvider();

      credential.signInWithPopup(provider).then(function(){
      
        // var token = results.credential.accessToken;
        // var user = result.user;
        // var user = result.user;

      }).catch(function(error) {
         console.log(error.code);
      })
    }

    return {
      login,
      loginWithGoogle
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin: 5px 20em;
}

</style>