<template>
    <div class="kana">
     <div class="header">
       <button-component @clicked="toggleChart" size="long" color="bleu-de-france"> 
          <b>{{ toggleLabel }}</b>
         </button-component>
      </div>
      <div class="display">
        <div class="kanji" v-for="(i, index) in kana" :key="index">
          {{ i }}
        </div>
     </div>
  </div>
</template>


<script>
import Button from '@/base/button.vue';
import { reactive, computed, toRefs } from '@vue/composition-api';

export default {
    name: "displaykana",
    components: {
      "button-component": Button,
    },
    setup(props, { root }){

  
      let state = reactive({
          toggle: true,
          katakana: computed(() => root.$store.getters.katakana_seion),
          hiragana: computed(() => root.$store.getters.hiragana_seion),
          toggleLabel: computed(() => state.toggle == true ? "ひらがな" : "カタカナ"),
          kana: computed(() => state.toggle == true ? state.hiragana : state.katakana),
          toggleChart:() => state.toggle = !state.toggle
      })
      
      return {
        ...toRefs(state)
      }
    }
}
</script>

<style lang="scss" scoped>
 .kana {
    border: transparent;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 5px 10em;
    width: 100%;
    
    .header {
      font-weight: bold;
      font-size: 16px;
      color: #34495e; 
      border: transparent;
      background: #fafafa;
      padding: 10px;  
   }
    
    .display {
      border: transparent;
      background: transparent; 
      margin-top: 5px;
      
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-gap: 1px;
      grid-auto-rows: minmax(100px, auto);
      
     .kanji {
        border: transparent;
        text-align: center;
        padding: 30px 0 0;
        font-weight: bold;
        font-size: 25px;
        background: #fafafa;
        color: #34495e;
      }
    }   
 }

 @media screen and (max-width: 700px) {
      .kana {
        border: transparent;
        background:rgba(0, 0, 0, 0.1);
        position: relative;
        display:flex;
        flex-direction: column;
        padding: 1px 1px 2px;
        width: 100%;
        
        .header {
            font-weight: bold;
            font-size: 16px;
            color: #34495e; 
            border: transparent;
            background: #fafafa;
            padding: 10px;
        }

        .display {
          border: transparent;
          background: transparent; 
          margin-top: 1px;

          display: grid;
          grid-template-columns: repeat(5,1fr);
          grid-gap: 1px;
          grid-auto-rows: minmax(50px, auto);

         .kanji {
            border: transparent;
            text-align: center;
            padding: 15px 0 0;
            font-weight: bold;
            font-size: 15px;
            background: #fafafa;
            color: #34495e;
          }
        }
      }
 }
</style>