<template>
     <div class="landing-page">
        <h1> {{ $route.params.character }}</h1>

          <p><span class="label"> 漢字 : </span>{{ characters.character }}</p>
          <p><span class="label">事 </span>: {{ characters.meaning }}</p> 
          <p><span class="label">読</span> : {{ characters.reading }}</p>
          <p><span class="label">한국어</span> : {{ characters.korean }}</p>
          <p><span class="label">tagalog</span> : {{ characters.tagalog }}</p>
   
        <router-link to="/">家</router-link>
    </div>
</template>

<script>
export default {
    name: "DisplayKanji",
    props: {
      characters: Object
    }
}
</script>

<style lang="scss" scoped>  
  .landing-page {
      background: #fafafa;
      border: transparent;
      padding: 20px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #34495e;
    
    a {
      text-decoration: none;
      color: #C93756;
      font-size: 13px;
      font-weight: 1000;
      border: 1px solid #C93756;
      border-radius: 50%;
      height: 5px;
      width: 5px;
      padding: 6px 8px;
    }

    .label {
      font-weight: bold;
    }

  }
</style>