<template>
<div class="display">
    <div class="kanji" v-for="(i, index) in kanji" :key="index"> 
        <div @click="anotherPage(i)">{{ i.character }}</div> 
       <div class="reading"> {{ i.readingFirst  }}</div>
    </div>   
</div>
</template>


<script>
export default {
 name: "display",
 props: {
    kanji: Array,
 },
 setup(props, { root }){

    

    let anotherPage = function(i){
    let routeData = root.$router.resolve({ 
       name: 'kanji', 
       params: { character: i.character },
        query: { data : JSON.stringify(i) }
      });

     let win = window.open(routeData.href, '_blank');
     win.focus();
  }

   return {
     anotherPage
   }
 }
}
</script>

<style lang="scss">
.display {
      background: transparent;
      border: transparent;
      margin-top: 3px;
      
      display: grid;
      grid-template-columns: repeat(6,1fr);
      grid-gap: 1px;
      grid-auto-rows: minmax(110px, auto);
  
      .kanji {
        border: transparent;
        text-align: center;
        padding: 30px 0 0;
        font-weight: bold;
        font-size: 25px;
        background: #fafafa;
        color: #34495e;
        cursor: default;

        .reading {
          font-size: 12px;
        }

        a {
            color: #34495e; 
            text-decoration:none;
        }
      
      }
  }

  @media screen and (max-width: 700px) {
    .display {
      background: transparent;      
      border: transparent;
      margin-top: 2px;
      
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1px;
      grid-auto-rows: minmax(50px, auto); 
      
      .kanji {
        border: transparent;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        padding: 10px 0 10px;
        background: #fafafa;
        color: #34495e;

        .meaning {
          font-size: 10px;
        }
      }
    }
  }
</style>