<template>
    <form-layout>
        {{ character }}
        {{ meaning }}
         <input-component v-model="character"></input-component>
         <button-group>
             <button-component @clicked="addKanji" color="imperial-primer"> 加 </button-component>
             <button-component @clicked="clearKanji" color="amour"> 晴 </button-component>
         </button-group>
        
    </form-layout>
</template>

<script>
import Form from '@/layout/form.vue';
import Input from '@/base/input.vue';
import Button from '@/base/button.vue';
import ButtonGroup from '../layout/button_group.vue';

import { checkFormHaveEmptyValues, clear } from '@/helper/function';
import { reactive, computed, watch, toRefs } from '@vue/composition-api';

import kpop from 'kpop';
import { toHiragana } from 'wanakana';

export default {
  name: "edit-form-component",
  components: {
      "input-component": Input,
      "button-component": Button,
      "form-layout": Form,
      "button-group": ButtonGroup
  },
  props: {
      kanjiru: Array
  },
  setup(props, { root }){

     let characteru = computed(() =>{
            return props.kanjiru.filter((x) => {
                return x.character == state.input.kana; 
            })
       })

     let state = reactive({
       input: {
          character: "",
          meaning: "", 
          reading: "",
          korean: "",
          tagalog: "",
          kana: ""
       }
     })

     let hangul = computed(() => kpop.hangulify(state.input.korean));
     let nihongo = computed(() => toHiragana(state.input.reading));
     let data = computed(() => {
        return  { 
                   character: state.input.character,
                   meaning: state.input.meaning,
                   reading: nihongo.value,
                   korean: hangul.value,
                   tagalog: state.input.tagalog
             }
           })
      

     let addKanji = function(){
       root.$store.dispatch("addKanji", checkFormHaveEmptyValues(data.value));
       clear(state.input);
     }
     let clearKanji = function(){
         clear(state.input);
     }

    watch(() => {
        state.input.kana = root.$route.params.character;
    })
  
    return  {
        addKanji,
        clearKanji,
        hangul,
        characteru,
        nihongo,
        ...toRefs(state.input)
     }
  }
}
</script>