<template>
    <form-layout>
         <input-component v-model.trim="character" placeholder="木造"/>
         <input-component v-model.trim="meaning" placeholder="言"/>
         <input-component v-model.trim="reading" placeholder="読"/> 
         <input-component v-model.trim="korean" placeholder="한국어"/>
         <input-component v-model.trim="tagalog" placeholder="tagalog"/>
         <button-group>
             <button-component @clicked="addKanji" color="imperial-primer"> 加 </button-component>
             <button-component @clicked="clearKanji" color="amour"> 晴 </button-component>
         </button-group>
        
    </form-layout>
</template>

<script>
import Form from '@/layout/form.vue';
import Input from '@/base/input.vue';
import Button from '@/base/button.vue';
import ButtonGroup from '../layout/button_group.vue';

import { checkFormHaveEmptyValues, clear } from '@/helper/function';
import { toRefs,reactive, computed } from '@vue/composition-api';

import kpop from 'kpop';
import { toHiragana } from 'wanakana';

export default {
  name: "form-component",
  components: {
      "input-component": Input,
      "button-component": Button,
      "form-layout": Form,
      "button-group": ButtonGroup
  },
  setup(props, { root }){

     let state = reactive({
       input: {
          character: "",
          meaning: "", 
          reading: "",
          korean: "",
          tagalog: ""
       }
     })

     let hangul = computed(() => kpop.hangulify(state.input.korean));
     let nihongo = computed(() => toHiragana(state.input.reading));
     let data = computed(() => {
        return  { 
                   character: state.input.character,
                   meaning: state.input.meaning,
                   reading: nihongo.value,
                   korean: hangul.value,
                   tagalog: state.input.tagalog
             }
           })
      

     let addKanji = function(){
       root.$store.dispatch("addKanji", checkFormHaveEmptyValues(data.value));
       clear(state.input);
     }
     let clearKanji = function(){
         clear(state.input);
     }

    
  
    return  {
        addKanji,
        clearKanji,
        hangul,
        nihongo,
        ...toRefs(state.input)
     }
  }
}
</script>