<template>
    <div id="menu" >
      <routes v-for="(i, index) in urls" :key="index" 
           :color="i.color" :isActive="i.isActive" :path="i.path">{{ i.label }}</routes>
    </div>
</template>

<script>
import Routes from '@/base/routes.vue';
export default {
  name: "Menu",
  props: {
    urls: Array
  },
  components: {
    Routes
  }
}
</script>

<style lang="scss" scoped>
  #menu {
      border: transparent;
      background: #fafafa;
      width: 50px;
      position: relative;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      height: 500em;
  }

</style>
