<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding:0;
    background:rgba(0, 0, 0, 0.1); 
  }
</style>