<template>
    <button :class="[color, className, size]" @click="$emit('clicked')">
        <slot></slot>
    </button>
</template>

<script>
export default{
    name: 'Button',
    props: {
        className: String,
        color: String,
        size: {
           type: String,
           default: "small"
        }
    }
}
</script>

<style scoped>

    button {
        border-radius: 15px;  
        color: #fafafa;
        margin-right: 4px;
        outline: none;
        margin-top: 5px;
        font-weight: bold;
    }

    .small {
        width: 40px;
        padding: 3px;
    }

    .long {
      width: 70px;
      padding: 7px;
    }
    
    .amour {
        border: 1px solid #ee5253;
        background: #ee5253;   
    }

    .bleu-de-france {
        border: 1px solid #2e86de;
        background:#2e86de;
    
    }
    .imperial-primer {
        border: 1px solid #222f3e;
        background:#222f3e;
    }


    *:focus {
        outline: none;
    }


</style>