<template>
    <input :value="value" 
        @input="$emit('input',$event.target.value);" 
        @keyup="$emit('update', value);"
        id="title" :type="type" 
        :placeholder="placeholder">
</template>

<script>

export default {  
    name: "Input",
    props: {
        value: String,
        placeholder: String,
        type: {
          type: String,
          default: "text"
        }
    }
}
</script>

<style lang="scss">
  input {
         border: transparent;
         border-radius: 5px;
         background:#ecf0f1;
         font-family: 'Gelasio', serif;
         font-weight: bold;
         outline: none;
         margin-top: 5px;
         padding: 10px;
         box-sizing: border-box;
         color: #34495e;
         width: 100%;
    }
</style>
