<template>
    <router-link :class="[{ active : isActive }, color]"  :to="path">
     <slot></slot>
   </router-link> 
</template>

<script>
export default {
    name: "Routes",
    props: {
        isActive: {
            type: Boolean,
            default: false
        },
        color: String,
        path: {
            type: Object,
        }
    }
}
</script>

<style lang="scss" scoped>
  a {
  background-color: #fff f;
  color: #34495e;
  display: flex;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;

  .active {
    color: #fafafa;
    font-weight: 700;
  }

  .right {
     position: absolute;
     bottom: 0;
  }
}

.bleu-de-france {
  background: #2e86de;
  color: #fafafa;
}

.amour {
  background: #ee5253;
  color: #fafafa;
}
</style>