<template>
    <div class="form">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "form-layout",
}
</script>

<style lang="scss" scoped>
 .form {
       border: 1px solid white;
       padding: 10px;
       background: #fafafa;
    }  
</style>